
@font-face {
    font-family: "Inter";
    src: url("../font/Inter.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    background: url("../images/background.png") no-repeat;
    font-family: "Inter";

}

.countainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.title {
    padding-top: 20px;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 500px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
    height: 30px;
    margin-top: 40px;
}

.balance{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.balance-text{
    color: white;
    font-size: 24px;
}

.balance-btn{
    background: transparent;
    font-size: 20px;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 40px;
    border: 1px solid white;
}

.balance-btn:active{
    background: rgb(190, 10, 70);
}


.money{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 300px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 2px 50px 2px 50px;
}
 
.money-text{
    display: flex;
    font-size: 40px;
    padding: 30px 10px 30px 40px;
}

.money-currency{
    color: rgba(128, 128, 128, 0.966);
    padding-left: 20px;
    padding-right: 20px;
}

.money-btn{
    height: 56px;
    width: 56px;
    border: none;
    background: url("../elements/btn_cancel.svg") no-repeat;
    
}

.money-btn:active{
    height: 56px;
    width: 56px;
    border: none;
    background: url("../elements/btn_cancel_active.svg");
}

.bills{
    color:rgb(175, 173, 173);
    font-size: 20px;
}
.continue{
    justify-content: center;
    padding: 35px 130px 35px 130px;
    border-radius: 15px;
    border: none;
    background-color: rgb(236,51,66);
    color: white;
    font-size: 35px;
}

.continue:active{
    background: rgb(245, 111, 111);
}


.out{
    background: transparent;
    display: flex;
    border: none;
    color: white;
    margin-top: 20px;
    position: relative;
    top: 10px;
    left: 350px;
}
.out:active{
    background: rgb(190, 10, 70);
    border-radius: 10px;
}
